@import '_vars';
@import 'modules/_main';
@import 'modules/_usercomponent';
@import 'modules/_userhomecomponent';
@import 'modules/_footer';
@import 'modules/_login';
@import 'modules/mediaqueries';
@import 'modules/_nav';

html {
    background-color: $white;
}


#app {
    background-color: $white;
}

body {

    color:black; 
    background-color:white;
    font-family: $reg-font;
    background: none;

    h1 {
        font-family: $reg-font;
        font-weight: bold;
        text-transform: uppercase;
    }

    h2 {

        font-family: $reg-font;

    }
}

.hidden {

    display: none;
}

.Rokutv-text {
    margin-bottom: 24px;
}

.Rokutv-text p {
    display: none;
}

#main-header {
    padding: 20px 14px;
}