.fs-video { width: 100% }

.main-media-container
{
    background-color: $main-color;
}

.media-container {
    background-color: $main-color;
    margin: 0 auto;
}
.media-container { color: $white; }
.media-container img {
    max-width: 100%;
    margin-top: 10px;
}

.media-container:first-of-type { padding-bottom: 1em; }
.media-container:last-of-type { padding-left: 0; padding-right: 0; }

// top left media details
.media-title { 
    font-size: 1.5em; 
    padding-top: 1em;
    font-weight: bolder; 
    text-align: center;
}

.media-details { font-size: 1.2em; padding: 0.5em 0; }

.media-year, .media-time { font-size: 1em; }
.media-year { display: block; float: right; }

.side-nav { background-color: $main-color; }

// left hand pad list -> audio, film television
.media-type { 
    list-style-type: none;
    margin-bottom: 0;
    color: white;
    
    li { 
        padding: 1rem;
        cursor: pointer;
        display: inline-block;
        width: 33%;
        text-align: center;

        span:first-of-type {  
            font-size: 2rem; 
            color: white;
        }
    }

    li:hover span:first-of-type { color: $white }
}

// genre filter links

.media-genres {
    list-style-type: none;
    background: $main-color;
    margin: 0;
    padding: 1em 1em 1em 1.5em;

    li { 
        display: inline-block;

        a {
            font-size: 1rem;
            color: white;
            text-decoration: none;
        }
        
        a:hover { color: $white; }
    }

    li::after {
        content: "|";
        padding: 0 8px 0 13px;
        color: rgba(255,255,255,0.5);
    }

    li:last-of-type::after {
        content: none;
    }
}

// media thumbnails
.media-info {
    padding-left: 0;
    padding-right: 0;

    > div { padding: 0 10px; }
}

.media-thumb {
    height: 140px;
    margin: 0.7em;
}

.audio-thumb { height: 150px; }

.audio-wrapper {
    background: $main-color;
    text-align: center;
    

    img { max-width: 85%; display: block; margin: 0 auto; padding: 4% }

}

audio {
    width: 100%;
    margin-bottom: 20px;
    position: absolute;
    bottom: 12%;
    opacity: 0.8;
    left: 0;
}